.sendForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.sendInput {
  margin-bottom: 20px;
  height: 30px;
}

.sendRadio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mrg-l-20 {
  margin-left: 20px;
}

.sendButton {
  width: 120px;
  height: 30px;
  margin: 0 auto;
}

#labelNameCheck {
  display: none;
  color: #c74a3d;
}

.modal {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(37, 37, 37, 0.151);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;

  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgb(177, 191, 255);
}

.modal__header {
  padding: 2px 16px;
  background-color: #c9c758;
  color: white;
}

.modal__body {
  padding: 2px 16px;
}

.modal__footer {
  padding: 2px 16px;
  background-color: #c9c758;
  color: white;
}

#btnCloseModal {
  width: 100px;
  height: 40px;
  background-color: rgb(0, 145, 150);
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
